@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
}
#member {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  margin: 0 auto;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  text-align: center;
  position: relative;
  margin: 50px;
  margin-bottom: 100px;
}
.container .card {
  display: inline-block;
  position: relative;
  background: #ffefa3;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}
.card {
  margin: 30px;
}
.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc02a;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

#c1:after {
  content: "弦巻こころ";
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(0, 0, 0, 0.09);
}
#c2:after {
  content: "奥沢 美咲";
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(0, 0, 0, 0.09);
}
#c3:after {
  content: "松原 花音";
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(0, 0, 0, 0.09);
}
#c4:after {
  content: "北沢 はぐみ";
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(0, 0, 0, 0.09);
}
#lastcard:after {
  content: "瀬田 薫";
  position: absolute;
  top: 40%;
  left: -10%;
  font-size: 9em;
  font-weight: 800;
  font-style: italic;
  color: rgba(0, 0, 0, 0.09);
}

.container .card .imgBx {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  transition: 0.5s;
}
.container .card:hover .imgBx {
  top: 25%;
  transform: translateY(0%);
}
.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx .size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
}
.container .card .contentBx .size h3 {
  color: #000000;
  font-weight: 1000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .contentBx h2 {
  position: relative;
  font-weight: 900;
  letter-spacing: normal;
  color: #000000;
}
.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: #000000;
  font-weight: 1000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.container .card .contentBx .color span:hover {
  background: #9bdc28;
}
.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
@media screen and (max-width: 1150px) {
  #member {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  #lastcard {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 760px) {
  #member {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }

  #lastcard {
    margin-bottom: 100px;
  }
}
